@import '../../scss/variable';

.container {
  padding: 0 25rem;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  overflow-x: hidden;

  @include flex-grid-items(2);

  @media (max-width : 1200px) {
    padding: 0 3rem;
  }

  

  @media (min-width : 1200px) {
    > *:nth-child(2) {
      justify-content: flex-end;
      
    }
  }
}

