@import "../../scss/variable";

.container {
  & > * {
    z-index: 4;
  }

  position: fixed;
  z-index: 10000000000;
  top: 0;
  right: -100vw;
  height: 100vh;
  font-size: 2rem;
  color: white;

  width: 20vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  padding: 3rem 2rem;
  
  
  @include BreakPoint (1000px , max-width) {
    width: 60vw;
  }

  transition: all 0.4s ease-in-out;

  .title {
    display: flex;
    flex-direction: unset;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    align-items: center;
    @include underLineAfter("bottom");

    .close {
      width: 2rem;
      height: 2rem;
      object-fit: cover;
      cursor: pointer;
    }
  }

  .product {
    width: 100%;
    max-height: 15rem;
    background-color: inherit;
    padding: 0rem 0 2rem 0;
    font-size: 1.5rem;
    overflow-y: scroll;


    .item {
      @include underLineAfter("bottom");

      height: 100%;
      width: 100%;
      padding: 2rem 0;

      display: flex;
      justify-content: flex-start;
      .image {
        margin-right: 1rem;

        img {
          width: 15rem / 2;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .total {
    @include underLineAfter("bottom");
    width: 100%;
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    text-transform: uppercase;
    font-size: 90%;
  }

  .button {
    margin-top: 2rem;
    width: 100%;
    height: 4rem;
    button {
      width: 100%;
      height: 100%;
      font-size: 70%;
      background-color: rgb(255, 246, 21);
      cursor: pointer;
    }
  }
}

.active {
  right: 0 !important;

  .overlay { 
    opacity: 1 !important;
    visibility: visible;
  }
}

.remove {
  width: 2rem;
  height: 2rem;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

p {
  font-size: 1.4rem;
  margin-top: 2rem;
}

.underline {
  text-decoration: underline;
} 

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4 !important;

  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden
}