@import "../../scss/variable";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 90rem;
  padding: 0 6rem;
  overflow: hidden;

  @media (max-width: 1000px) {
    height: unset;
    padding: 0 3rem;
  }

  @media (max-width: 700px) {
  }
}

.img {
  position: relative;
  width: 80%;
  height: 70%;

  &:hover {
    .hoverImg {
      opacity: 1;
    }

    .showImg {
      opacity: 0;
      visibility: hidden;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  > img,
  > span {
    position: absolute;
  }

  .hoverImg {
    opacity: 0;
  }
}

.price {
}
