@import "../../scss/variable";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 90rem;
  overflow: hidden;
  padding: 15rem;
  
  @media (max-width: 1500px) {
    padding: 8rem;
  }

  @media (max-width: 700px) {
  }

  @media (max-width: 1200px) {
    height: 70rem;
  }

  @media (max-width: 768px) {
    height: 50rem;
    padding: 3rem;
  }

}

.img {
  position: relative;
  width: 100%;
  height: 100%;

  &:hover {
    .hoverImg {
      opacity: 1;
    }

    .showImg {
      opacity: 0;
      visibility: hidden;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  > img,
  > span {
    position: absolute;
  }

  .hoverImg {
    opacity: 0;
  }
}

.price {
}
